.flex-container{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.space-between{
    justify-content: space-between;
}

.items-center{
    align-items: center;
}

.baseline{
    align-items: baseline;
    padding-top: 20px;
}

a{
    text-decoration: none;
}