:root{
	--blue-grad:linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
	--black:#282828;
	--blue: #0499DD;
	--white:#FFFFFF;
	--yellow:#FFC700;
	--gray-1:#D4D4D4;
	--gray-2:#EDEDED;
	--gray-3:#FBFBFB;

}