:root{
	--blue-light: #17C1BC;
	--black:#282828;
	--blue: #0499DD;
	--white:#FFFFFF;
	--yellow:#FFC700;
	--gray-1:#D4D4D4;
	--gray-2:#EDEDED;
	--gray-3:#FBFBFB;


	--link-color-1: var(--black);
    --link-active-color: var(--yellow);

	--section-title-color:var(--blue);
	--slide-title-color:var(--yellow);
	--button--link-color:var(--white);
	--slide--type-color:var(--white);
	--slide--description-color:var(--white);
	--slide--duration-time-color:var(--white);
	--slide--price-color:var(--white);
	--swiper-scrollbar-color:var(--blue-light);

	--blocks-color:var(--gray-2);
	--blocks--text-color:var(--black);
}