@import url('/libs/css/normalise.css');
@import url('./common.css');
@import url('./fonts.css');
@import url('./global.css');
@import url('./reset.css');
@import url('./Exurcions/range-slider.css');


@import url('./components/header.css');
@import url('./components/popular-exursions.css');
@import url('./components/swiper1.css');
@import url('./components/about-us.css');
@import url('./components/types-of-tours.css');
@import url('./components/gallery-main.css');
@import url('./components/feedbacks.css');
@import url('./components/swiper2.css');
@import url('./components/main-form.css');
@import url('./components/footer.css');


@import url('./Exurcions/excursions-header.css');
@import url('./Exurcions/excursions-top-filter.css');
@import url('./Exurcions/excursions-content-filter.css');
@import url('./Exurcions/excursions-content-out-tours.css');


@import url('./Abhazia/abhazia-header.css');
@import url('./Abhazia/abhazia-excursion-description.css');
@import url('./Abhazia/calendar.css');
@import url('./Abhazia/abhazia-route.css');
@import url('./Abhazia/abhazia-additional-expenses.css');
@import url('./Abhazia/аbhazia-information.css');
@import url('./Abhazia/аbhazia-gallery.css');
@import url('./Abhazia/аbhazia-feedbacks.css');
@import url('./Abhazia/аbhazia-feedbacks.css');
@import url('./Abhazia/abhazia-booking-tour.css');
@import url('./Abhazia/swiper3.css');
@import url('./Abhazia/swiper4.css');





* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 300;
}

.main{
    margin-top: 263px;
}