@import url('/libs/css/normalise.css');
@import url('./common.css');
@import url('./fonts.css');
@import url('./global.css');
@import url('./reset.css');


@import url('./components/header.css');
@import url('./components/header-mobile.css');


* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 300;
}