.abhazia__route{
    margin-top:  550px;
    height: 653px;
    display: flex;
    position: relative;
}

.abhazia__route-text-block{
    width: 953px;
    height: 653px;
}

.abhazia__route-list1{
    margin-top: 90px;
    margin-left: 160px;
}

.abhazia__route-list2-description{
    margin-left: 198px;
    margin-top: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #282828;
}

.abhazia__route-list2{
    margin-top: 40px;
    margin-left: 160px;
}

.abhazia__route-list-text{
    padding-left: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #282828;
}

.abhazia__route-slider{
    margin-left: 200px;
    width: 770px;
    height:650px
}

.abhazia__route-description{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFC700;
    padding-top: 530px;
    padding-left: 25px;
}

.abhazia__route-slider-box1{
    width:413px;
    height:570px;
    background-image: url('./images/route-swiper/гагры.jpg');
}

.abhazia__route-slider-box2{
    width:413px;
    height:570px;
    background-image: url('./images/route-swiper/абхазия.jpg')
}

.abhazia__route-slider-box3{
    width:413px;
    height:570px;
    background-image: url('./images/route-swiper/island.jpeg');
}