.swiper3{
    margin-left: 110px;
}

.swiper-button-next3{
    position: absolute;
    top: 100%;
    left: 1242px;
    color: #D4D4D4;
  
}

.swiper-button-prev3{
    position: absolute;
    top: 100%;
    left: 1241px;
    color: #D4D4D4;
}

.swiper3-pagination.swiper-pagination-progressbar.swiper-pagination-horizontal{
    width: 27%;
    height: 4px;
    left: 1384px;
    top: 100%;
    background: #D4D4D4;
}