.about__us{
    margin-top: 300px;
}
.about__us-block{
    width: 542px;
    height: 476px;
    left: 738px;
    top: 2038px; 
}

.about__us-section-title{
    color: var(--section-title-color);
    margin-bottom: 40px;
}









