.gallery__main{
    margin-top: 150px;
}
.gallery__wrapper{
    margin-top: 90px;
    margin-left: 160px;
    margin-right: 15px;
    width: 1410px;
    height: 686px;
    display: flex;
}

.main__section-title{
    margin-left: 160px;
    color: var(--section-title-color);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
}

.gallery__watch-all{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-decoration-line: underline;
    color: var(--black);
    margin-left: 1658px;
    margin-right: 160px;
}

.gallery__item{
   padding: 10px;
}