.gallery__main{
    margin-top: 150px;
}

.gallery__links{
    display: flex;
}

.main__section-title{
    margin-left: 160px;
    color: var(--section-title-color);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
}

.gallery__watch-all{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-decoration-line: underline;
    color: var(--black);
    margin-left: 1390px;
    margin-right: 160px;
}

.gallery__container{
    margin-top: 90px;
    margin-left: 240px;
    display: grid;
    grid-template-columns: 216px 266px 362px 266px 216px;
    grid-template-rows: 282px 123px 123px;
    grid-gap: 20px;
    grid-template-areas: 
        'item-1 item-1 item-2 item-3 item-4'
        'item-5 item-6 item-2 item-7 item-7'
        'item-5 item-8 item-2 item-7 item-7'
    ;
}

.gallery__item{
    border-radius: 5px;
    transition: 0.3s linear;
}

.gallery__item:hover{
    box-shadow: 0px 0px 15px 6px ;
    transform: scale(1.1);
}

.item-1 {
    grid-area: item-1;
}
.item-2 {
    grid-area: item-2;
}
.item-3 {
    grid-area: item-3;
}
.item-4 {
    grid-area: item-4;
}
.item-5 {
    grid-area: item-5;
}
.item-6 {
    grid-area: item-6;
}
.item-7 {
    grid-area: item-7;
}
.item-8 {
    grid-area: item-8;
}
