.header{
    background-color: #fff;
    background-image: url('../images/header/Header_image.jpg');
    background-size: cover;
    height:789px;
    background-repeat: no-repeat;
}

.header__container{
    position: relative;
}

.header__navigation{
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.header__navigation-list {
    display: flex;
    justify-content: space-between;
    width: 403px;
    height: 17px;
    margin-left: 977px;
    margin-top: 46px;
    margin-right: 160px;
}

.header__navigation-list-item{
   padding: 20px;
}
.header__navigation-link{
    color: #FFFFFF;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    transition: color .3s;
}

.header__navigation-link:hover {
    color: yellow;
    cursor: pointer;
}

.header__logo{
    width: 40px;
    height: 58px;
    margin-top: 27px;
    margin-left: 160px;
}

.header__title{
    position: relative;
    margin-top: 237px;
    margin-left: 160px;
}

.header__travel-description{
    font-family: Montserrat;
    font-size: 72px;
    font-weight: 700;
    line-height: 88px;
    text-align: left;
    color: #FFFFFF;
    margin-left: 160px;
    margin-top: 237px;
}

.header__with-description{
    position: absolute;
    top: 54px;
    left: 538px;
    font-family: mr_KindlyJasmineG;
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
    text-align: left;
    color: #FFC700;

}
/*.header__pero-description{
    font-family: Montserrat;
    font-size: 96px;
    font-weight: 900;
    line-height: 117px;
    text-align: left;
    color: transparent ;
    text-stroke: 1px white ;
}*/

.header__pero-description{
    padding-top: 15px;
}

.header__vk{
    margin-left: 1252px;
    margin-top: 341px;
    margin-bottom: 432px;
    margin-right: 160px;
}

.header__insta{
    margin-left:1252px ;
    margin-top: 375px ;
    margin-bottom: 386px;
    margin-right: 160px;
}

.header__facebook{
    margin-left: 1252px;
    margin-top: 416px;
    margin-bottom:348px ;
    margin-right:160px ;
}