.header__main{
    background-color: #fff;
    background-image: url('../images/header/header_main.png');
    background-size: cover;
    height:789px;
    background-repeat: no-repeat;
}

.header__navigation{
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: flex-start;
}

.header__navigation-list {
    display: flex;
    justify-content: space-between;
    width: 403px;
    height: 17px;
    margin-left: 1085px;
    margin-top: 46px;
    margin-right: 160px;
}

.header__navigation-list-item{
   padding: 20px;
}

.header__navigation-link{
    color: var(--white);
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    transition: color .3s;
}

.header__navigation-link:hover {
    color: var(--yellow);
    cursor: pointer;
}

.header__logo{
    width: 40px;
    height: 58px;
    margin-top: 40px;
    margin-left: 160px;
}

.header__title{
    position: relative;
    display: inline-block;
    margin-top: 174px;
    margin-left: 160px;
}

.header__travel-description{
    font-family: Montserrat;
    font-size: 72px;
    font-weight: 700;
    line-height: 88px;
    text-align: left;
    color: var(--white);
}

.header__with-description{
    position: absolute;
    top: 54px;
    left: 538px;
    font-family: mr_KindlyJasmineG;
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
    text-align: left;
    color: var(--yellow);

}
/*.header__pero-description{
    font-family: Montserrat;
    font-size: 96px;
    font-weight: 900;
    line-height: 117px;
    text-align: left;
    color: transparent ;
    text-stroke: 1px white ;
}*/

.header__pero-description{
    padding-top: 15px;
}

/*.header__vk{
    margin-left: 1252px;
    margin-top: 341px;
    margin-bottom: 432px;
    margin-right: 160px;
}

.header__insta{
    margin-left:1252px ;
    margin-top: 375px ;
    margin-bottom: 386px;
    margin-right: 160px;
}*/

.header__facebook{
    padding: 0 0 0 7px;
}

.header__social-links{
    transform:translate(87%, -77%);
    display: grid;
    gap: 14px;
}

.header__social-links:hover{
    color: var(--yellow);
    cursor: pointer;
    transition: color .3s;
}

.icon { 
    width: 25px; 
    height: 25px;
    fill: #fff;
    transform: scale(1);
    transition: fill 0.3s linear;
    transition: transform 0.3s linear;
    
  }

.icon:hover{
    transform: scale(1.5);
    fill:#FFC700;
}


.button__link{
    width: 230px;
    height: 50px;
    margin-left: 160px;
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    color: var(--button--link-color);
    padding:16px 48px 16px 48px;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    border-radius: 60px;
    border: none;
}

.button__link:hover{
    color: var(--yellow);
    cursor: pointer
}

.link__excursuions{
    text-decoration: none;
}

.link__excursuions:hover{
    color:var(--yellow);
    transition: color .3s;
}

.header__media{
   display: flex;
   flex: 1 1 auto;
   justify-content: right;
   column-gap: 20px;
   transform: translate(0%,30%);
}

