.swiper1{
    height: 550px;
    margin-left: 160px;
}

.swiper-pagination.swiper-pagination-progressbar.swiper-pagination-horizontal {
    width: 84%;
    height: 4px;
    left: 300px;
    top: 100%;
    background: #D4D4D4;
}

.swiper-button-prev{
    position: absolute;
    top: 100%;
    left: 160px;
    color:#D4D4D4;
}

.swiper-button-next{
    position: absolute;
    top: 100%;
    left: 160px;
    color:#D4D4D4;
    margin-left: 62px;
}

.swiper-button-prev:hover{
    color: #0499DD;
}

.swiper-button-next:hover{
    color: #0499DD;
}

@media screen and (max-width: 920px) {
    .swiper1{
        margin-left: 50px;
    }
}

@media screen and (max-width: 920px) {
    .swiper1 br{
        display: none;
    }
}
 
@media screen and (max-width: 920px) {
    .swiper1 {
    margin-left: 0px;
}
}

@media screen and (max-width: 768px) {
    .swiper-button-prev{
        left: 75px;
    }

    .swiper-button-next{
        left: 75px;
       
    }
    .swiper-pagination.swiper-pagination-progressbar.swiper-pagination-horizontal {
        left: 210px;
    }
}


@media screen and (max-width: 635px) {
    .swiper1{
       height: 650px;
    }

    .swiper-button-prev{
        top:93%;
    }

    .swiper-button-next{
        top:93%;
       
    }
    .swiper-pagination.swiper-pagination-progressbar.swiper-pagination-horizontal {
        top:93%;
    }
}

@media screen and (max-width: 500px) {
    .swiper1{
        margin-left: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .swiper-button-prev{
        left: 25px;
    }

    .swiper-button-next{
        left: 25px;
       
    }
    .swiper-pagination.swiper-pagination-progressbar.swiper-pagination-horizontal {
        left: 160px;
    }
}

