.swiper1{
    width: 1740px;
    height: 550px;
    margin-left: 160px;
}

.swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal{
    width: 90%;
    height: 4px;
    left: 168px;
    top: 546px;
    background: #D4D4D4;
}


.swiper-button-prev{
    position: absolute;
    top: 1734px;
    left: 160px;
    color:#D4D4D4;
}

.swiper-button-next{
    position: absolute;
    top: 1734px;
    left: 160px;
    color:#D4D4D4;
    margin-left: 62px;
}
    

.swiper-pagination-progressbar {
    background: #0499DD;
    position: absolute;}

.swiper-button-prev:hover{
    color: #0499DD;
}

.swiper-button-next:hover{
    color: #0499DD;
}