/* .types-of-tours__wrapper{
    margin-left: 160px;
    margin-top: 150px;
    max-width: 1585px;
    width: 100%;
}

.main__section-title{
    margin-left: 160px;
    color: var(--section-title-color);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
}

.types-of-tours__img-box{
    display: inline-block;
}

.types-of-tours__description{
    margin-left: 20px;
    margin-bottom: 40px;

}

.types-of-tours__title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--section--sub-title-color);
    margin-bottom:10px;
    margin-left: 20px;
}

.types-of-tours__discription-button{
    margin-top:60px;
    display: grid;
    grid-gap:20px;
    justify-items: center;
}

.types-of-tours__discription-bottom{
    text-align: center;
}

.types-of-tours__link-button{
    border: none;
}

.types-of-tours__box1{
    display: flex;
    width: 750px;
    height: 134px;
}

.types-of-tours__box2{
    display: flex;
    width: 750px;
    height: 134px;
}
.types-of-tours__box3{
    display: flex;
    width: 750px;
    height: 134px;
}
.types-of-tours__box4{
    display: flex; 
    width: 750px;
    height: 134px;
}

.types-of-tours__img{
    width: 75px;
    height: 74px;
}

@media screen and (max-width: 768px) {
    .section__links{
    display: inline-block;
}
   .main__section-title  {
    margin-left: 70px ;
   }

   .watch__all {
    margin-right: 70px ;
   }
}

@media screen and (max-width: 320px) {
.main__section-title {
    margin-left: 25px ;
}
} */