.excursions-content__our-tours{
    width: 779px;
    height: 1341px;
    background-color:var(--pages--main-blocks-color);
    margin-left: 40px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.excursions-content__title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #0499DD;
    margin-left: 40px;
    margin-bottom: 40px;
}

.excursions-content__box{
    display: flex;
    margin-left: 40px;
    margin-top: 20px;
    width: 779px;
    height: 303px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.slide__cost-and-time{

}

.slide__text{
    display: flex;
}

.slide__link{
    text-decoration: none;
}

.slide__link:hover{
    color:var(--yellow);
    transition: color .3s;
}

.slide__button{
    width: 160px;
    height: 40px;
    border-radius: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    color:var(--button--link-color);
    border: none;
}

.slide__button:hover{
    color: var(--yellow);
    cursor: pointer
}

