.excursions__content{
    margin-top: 40px;
    background-color:var(--pages--main-color);
    display: flex;

}
.excursions-content__filter{
    width: 295px;
    height: 1245px;
    margin-left:380px;
    background-color:var(--pages--main-blocks-color);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.excursions__filter{
    padding-top: 25px;
    margin-left: 35px;
    margin-right: 35px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #0499DD;
}

.filter__cost{
    width: 225px;
    height: 102px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
}

.filter__input-slider{
    margin-top: 20px;
}

.filter__inputs{
    width: 225px;
    display: flex;
    justify-content: space-between;
}
.filter__cost-input{
    width: 110px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    border-radius: 40px;
}

/* people buttons */
.people__buttons{
    margin-left:35px; 
    margin-top: 20px; 
}

.buttons__people{
    padding-top: 7px;

}
.people__text  {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #282828;

} 

.button__button1,.button__button2,.button__button3,
.button__button4,.button__button5,.button__button6,
.button__button7,.button__button8,.button__button9,
.button__button10,.button__button11
{
    width: 75px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    border-radius: 40px;
}

.button__button1--active,.button__button2--active,.button__button3--active,
.button__button4--active,.button__button5--active,.button__button6--active,
.button__button7--active,.button__button8--active,.button__button9--active,
.button__button10--active,.button__button11--active
{
    background: #0499DD;
}

.button__button11{
    width: 150px;
    height: 30px;
}
/*  */

/* .filter__peoples{
    width: 300px;
    padding-left: 25px;
    padding-right: 35px;
    padding-top: 20px;
}

.people__buttons{
    width: 240px;
    height: 120px;
}

.people__label-more{
    width: 150px;
    height: 30px;
}

.people__label-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #282828;
}

.form__radio-btn input[type=radio_people]{
    display:none
}
  
.form__radio-btn label{
    display: inline-block;
    cursor: pointer;
    margin-left:3px;
    margin-top:7px;
    padding: 5px;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    border-radius: 40px;
    user-select:none;
    text-align:center;
    width: 73px;
    height: 30px
  }
  
.form__radio-btn .people__input[type=radio_people]:checked + label {
    background: #0499DD
  }
  
.form__radio-btn label:hover {
    border: 1px solid #0499DD;
  } */

.filter__place{
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
}

.filter__duration{
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
}

.filter__date{
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
}

.filter__title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #282828;
}

.filter__line{
  margin-top: 30px;
}

.filter__title-and-svg{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 35px;
    margin-right: 35px;
}

 /* radio */
.place__input{
    margin-bottom: 5px;
}

.place__label-duration-date{
    padding-left: 10px;
    margin-bottom: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #282828;
    display: inline-block;
	cursor: pointer;
	position: absolute;
}

input[type="radio"]:checked, 
input[type="radio"]:not(:checked) 
{
position: absolute;
  left: -9999px;
}
  
input[type="radio"]:checked + label, 
input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 15px;
    height: 15px;
    border: 1px solid  #D4D4D4;
    background-color: #ffffff;
}

input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    border-radius: 100%;
}

input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    left: 5px;
    top: 5px;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background:#0499DD;
}

input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="radio"]:checked + label:after {
    opacity: 1; 
}

.filter__link{
    text-decoration: none;
    padding-right: 10px;
}

.filter__link:hover{
    color:var(--yellow);
    transition: color .3s;
}

.filter__button{
    width: 225px;
    height: 40px;
    border-radius: 40px;
    margin-left: 35px;
    margin-top: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    color:var(--button--link-color);
    border: none;
}

.filter__button:hover{
    color: var(--yellow);
    cursor: pointer
}

.filter__bottom{
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-left: 45px;
}

.filter__button-description{
    padding-left: 6px;
}

.filter__bottom-svg{
    background-color: transparent;
    border:none;
    opacity: 0.3;
}

.filter__bottom-svg:hover svg path{
    stroke:#0499DD;
  }

/* JS */
/* cost */
.filter__minus{
    display: none;
}

.filter__minus--active{
    display: block;
}

.filter__cost{
    display: none;
}

.filter__cost--active{
    display: block;
}

.filter__plus--active{
    display: none;
}
/*  */


/* peoples */
.filter__peoples{
    display: none;
}

.filter__peoples--active{
    display: block;
}

.filter__plus-peoples--active{
    display: none;
}

.filter__minus-peoples{
  display: none;  
}

.filter__minus-peoples--active{
  display: block;  
}
/*  */


/*place */

.filter__place{
    display: none;
}

.filter__place--active{
    display: block;
}

.filter__plus-place--active{
    display: none;
}

.filter__minus-place{
    display: none; 
}

.filter__minus-place--active{
    display: block;  
  }

/* */


/* duration */

.filter__duration{
    display: none;
}

.filter__duration--active{
    display: block;
}

.filter__plus-duration--active{
    display: none;
}

.filter__minus-duration{
    display: none; 
}

.filter__minus-duration--active{
    display: block; 
}

/*  */


/*date*/
.filter__date{
    display: none;
}

.filter__date--active{
    display: block;
}

.filter__plus-date--active{
    display: none;
}

.filter__minus-date{
    display: none; 
}

.filter__minus-date--active{
    display: block; 
}

/*  */




